.guest__login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .guest__form {
    border: 1px solid #d4d1d1;
    display: block;
    position: relative;
    padding: 40px;
    border-radius: 4px;
  }
  .img-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .custom-width {
    width: 300px !important;
  }
}

