@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.color-primary {
  background-color: #0062ff;
  color: #ffff;
}

.main-wrapper {
  padding-bottom: 50px;
  .button-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      background-color: #37C562;
      border-color: #37C562;
      color: #ffff;
    }
  }
}


.action-button {
  padding: 6px 15px;
  text-decoration: none;
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;

  &--edit {
    background-color: #ffc108;
    border-color: #ffc108;
    margin-right: 5px;
  }

  &--delete {
    background-color: red;
    border-color: red;
    margin-right: 5px;
  }
}
